# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# automake, autoconf, configure output files
*Makefile
*.log
configure.scan
config.status

src/dendro